body{
    background-image: url('/src/images/farming.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo-container{
position: absolute;
top:0;
left:0;
}

.logo-container img{
   margin-top:0;
   left:0;
   width:250px;
   height:250px;
   mix-blend-mode: screen;
   filter: invert(50%) sepia(100%) saturate(700%) hue-rotate(80deg) brightness(100%);
}
.home-container{
  text-align: center;
  color:green;
  margin-top: 200px;
  font-family: Arial, sans-serif;
}
.home-container h1{
  font-size: 40px;
  margin-bottom: 0px;
  color:orangered;
}

.label-container{
  margin-top:50px ;
  text-align: center;
  color:rgb(235, 187, 114);
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label-container label{
  display: block;
  margin-bottom: 20px;
}

.line p{
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icons a{
    font-size: 20px;
    color: rgb(136, 219, 136);
    margin-top: 10px;
    margin-right: 15px;
}

.RegisterContainer{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
}
.RegisterContainer h1{
    text-align: center;
    color: rgb(5, 5, 5);
    margin-bottom: 20px;
}
.RegisterContainer form{
    display: flex;
    flex-direction: column;
}
.RegisterContainer input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.RegisterContainer button{
    padding: 10px;
    background-color: rgb(5, 5, 5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.RegisterContainer button:hover{
    background-color: #615959;
}
.text-danger{
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.LoginContainer{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
}
.LoginContainer form{
    display: flex;
    flex-direction: column;
}
.LoginContainer input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.LoginContainer button{
    padding: 10px;
    background-color: rgb(5, 5, 5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.LoginContainer button:hover{
  cursor: pointer;
  background-color: #666060;  
}
.LoginContainer label{
  
  text-decoration: underline;
  transition: font-size 0.2s ease; 
}
.LoginContainer label:hover{
  cursor: pointer;
  font-size: 17px;
  
 
}
button{
    background-color:rgb(196, 49, 49); 
    color:white;
    border:none;
    cursor: pointer;
    
}
.CreatePost{
    background-color: rgba(34, 29, 29, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
}
.CreatePost h2{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.CreatePost input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:200px;
}
.CreatePost textarea{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    width: 500px;
}
.CreatePost button{
    padding: 10px;
    background-color: rgb(68, 111, 136);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}